In [1]:
def times2(var):
    return var*2
times2(5)

10

# map()

In [4]:
seq=[1,2,3,4,5,6]
seq

[1, 2, 3, 4, 5, 6]

In [10]:
list(map(times2,seq))

[2, 4, 6, 8, 10, 12]

# lambda

In [8]:

t = lambda var : var*2
t(6)

12

In [9]:
list(map(lambda num : num*3,seq))

[3, 6, 9, 12, 15, 18]

# filter

In [11]:
list(filter(lambda num:num%2==0,seq)) # chercher les valeur pair

[2, 4, 6]

In [25]:
s = " hello/my/name/is/ahmed "
s

' hello/my/name/is/ahmed '

In [13]:
s.lower()

' hello my name is ahmed '

In [14]:
s.upper()

' HELLO MY NAME IS AHMED '

In [27]:
s.split("/")[0]

' hello'

In [33]:
d={"key1":1,"key2":2}
d.keys()
d.items()
d.values()

dict_values([1, 2])

In [35]:
lst= [1,2,3]
lst
item = lst.pop()
item

3

In [36]:
lst

[1, 2]

In [37]:
lst.pop(0)

1

In [38]:
lst

[2]

In [39]:
lst.append("new")
lst

[2, 'new']

In [40]:
"x" in lst

False

In [41]:
"new" in lst

True

In [43]:
x = [(1,2),(3,4),(5,6)]
x

[(1, 2), (3, 4), (5, 6)]

In [45]:
x[1][1]

4

In [49]:
for a,b in x :
    print(b)

2
4
6

In [52]:
for i in d.keys():
    print(d[i]) #dictionary boucle

1
2