# dictionary

In [3]:
d = {"key1":"value","key2":123}
d["key2"]

123

In [5]:
d = {"k1":[1,2,3]}
d

{'k1': [1, 2, 3]}

In [8]:
mylist = d["k1"]
mylist

[1, 2, 3]

In [11]:
d = {"key1":{"k1":[1,2,3]}}
d["key1"]["k1"][1]

2

In [13]:
# boolean 
True
False

False

# TUPLE

In [15]:
t= (1,2,3)
t

(1, 2, 3)

In [22]:
mylist[0] = "new "
mylist.append(5)
mylist

['new ', 2, 3, 5]

In [24]:
t
#t[0]= "new" # we cant mot modifiy, add or delete a typle 
t

(1, 2, 3)

# SET

In [25]:
{1,2,3,3,3,3,3,}
# there is not repitition

{1, 2, 3}

In [26]:
set([1,1,1,1,1,1,2,2,2,2,2,3,3])

{1, 2, 3}

In [27]:
s={1,2,3,3,3,3,4}
s

{1, 2, 3, 4}

In [29]:
s.add(4)
s.add(5)
s

{1, 2, 3, 4, 5}

# operators

In [30]:
1 > 2

False

In [31]:
1 < 2

True

In [32]:
1 >=2

False

In [33]:
1<=2

True

In [34]:
1==1

True

In [35]:
1 !=3

True

In [37]:
"hi" != "bye"

True

In [40]:
(1 < 2)  and  (2<3 )

True

In [43]:
(1 > 2)  or  (2>3 )

False

 # CONDITIONS

In [48]:
if 1 > 2 :
    print("fuck you ")
elif ( 1 ==  3):
    print("you are rude ")
else:
    print("i dont know ")

i dont know