# DATA FRAME

In [7]:
import numpy as np
import pandas as pd

In [8]:
from numpy.random import randn

In [9]:
np.random.seed(101)

In [12]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','y','x','z'])
df

          w         y         x         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

# index and selection

In [13]:
df['w']

a   -0.993263
b    1.025984
c    2.154846
d    0.147027
e   -0.925874
Name: w, dtype: float64

In [14]:
type(df['w'])

pandas.core.series.Series

In [15]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df[['w','z']]

          w         z
a -0.993263  0.000366
b  1.025984  0.649826
c  2.154846 -0.346419
d  0.147027  1.024810
e -0.925874  0.610478

In [20]:
df['new'] = df['w'] + df['x']

In [21]:
df

          w         y         x         z       new
a -0.993263  0.196800 -1.136645  0.000366 -2.129908
b  1.025984 -0.156598 -0.031579  0.649826  0.994405
c  2.154846 -0.610259 -0.755325 -0.346419  1.399521
d  0.147027 -0.479448  0.558769  1.024810  0.705796
e -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [26]:
df.drop('new',axis=1,inplace = True) #specify the that is col with 1 
# inplace = true for delete new without it wouldn t be deleted

In [27]:
df

          w         y         x         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [29]:
df.drop('e',axis=0)

          w         y         x         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810

In [30]:
df

          w         y         x         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [31]:
df.shape

(5, 4)

In [32]:
df[['x','z']]

          x         z
a -1.136645  0.000366
b -0.031579  0.649826
c -0.755325 -0.346419
d  0.558769  1.024810
e -1.133817  0.610478

In [33]:
 # selecting rows

In [36]:
df 
#we have to use function loc 
df.loc['a']

w   -0.993263
y    0.196800
x   -1.136645
z    0.000366
Name: a, dtype: float64

In [39]:
df.iloc[0]
# number index

w   -0.993263
y    0.196800
x   -1.136645
z    0.000366
Name: a, dtype: float64

In [43]:
 # selecting subset from dataframe
df

          w         y         x         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [41]:
df.loc['b','y']

-0.1565979042889875

In [44]:
df.loc[['a','b'],['w','y']]

          w         y
a -0.993263  0.196800
b  1.025984 -0.156598