In [1]:
import numpy as np 
import pandas as pd

In [10]:
# index levels 
outside = ['g1','g1','g1','g2','g2','g2']
inside = [1,2,3,1,2,3]
hierindex=list(zip(outside,inside))
hierindex = pd.MultiIndex.from_tuples(hierindex)
hierindex

MultiIndex([('g1', 1),
            ('g1', 2),
            ('g1', 3),
            ('g2', 1),
            ('g2', 2),
            ('g2', 3)],
           )

 # multiple index

In [9]:
from numpy.random import randn
df = pd.DataFrame(randn(6,2),hierindex,['a','b'])
df

             a         b
g1 1  0.607145 -0.668369
   2 -1.529000  0.917023
   3  0.396581 -0.368729
g2 1  1.039425 -1.066148
   2  1.021424 -0.311673
   3  1.232906  0.662816

In [13]:
df.loc['g1'].loc[1]

a    0.607145
b   -0.668369
Name: 1, dtype: float64

In [15]:
df.index.names = ["groupes","nums"]

In [16]:
df

                     a         b
groupes nums
g1      1     0.607145 -0.668369
        2    -1.529000  0.917023
        3     0.396581 -0.368729
g2      1     1.039425 -1.066148
        2     1.021424 -0.311673
        3     1.232906  0.662816

In [19]:
df.loc['g2'].loc[2]['b']

-0.31167268245523944

In [22]:
df.xs(1,level="nums")

                a         b
groupes
g1       0.607145 -0.668369
g2       1.039425 -1.066148